
@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_bold_italic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_light_italic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi_regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'warung_kopi';
    src: url('warung_kopi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'soft_marshmallow';
    src: url('Soft Marshmallow.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#main_header {
    font-family: 'soft_marshmallow';
    font-size: 200px;
}

#main_text {
    font-family: 'warung_kopi';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    color: black;
    padding-top: 30px;
    text-align: center;
}

#header_text {
    font-family: 'warung_kopi';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: black;
    padding-top: 30px;
    text-align: center;
}

#sub_text {
    font-family: 'warung_kopi';
    font-weight: lighter;
    font-style: normal;
    font-size: 25px;
    color: rgb(142, 142, 142);
    text-align: center;
}

#signin_button {
    height: 200px; 
    width: 300px;
    font-size: 50px;
    font-family: "warung_kopi";
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

#signin_button:hover {
    height: 200px; 
    width: 300px;
    font-size: 50px;
    font-family: "warung_kopi";
    background-color: rgb(2, 125, 201);
    color: white;
    border-radius: 20px;
    border: none;
}

#small_onclick {
    font-family: 'warung_kopi';
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    color: black;
}

#adv_box {
    display: none;
    padding-top: 5px;
}

#nav_bar {
    background-image: url("zineopedia navbar.png");
    height: 90px;
}

#nav_text {
    font-family: "soft_marshmallow";
    font-size: 30px;
    color: black;
}

#nav_current {
    font-family: "soft_marshmallow";
    color: rgb(2, 125, 201);
}

#nav_current:hover {
    font-family: "soft_marshmallow";
    color: rgb(2, 125, 201);
}

#nav_other {
    font-family: "soft_marshmallow";
    color: black;
}

#nav_other:hover {
    font-family: "soft_marshmallow";
    color: rgb(2, 125, 201);
}

#name_searchbox {
    height: 60px;
    width: 600px;
    font-size: 40px;
    font-family: "warung_kopi";
}

#series_searchbox {
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-family: "warung_kopi";
}

#theme_searchbox {
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-family: "warung_kopi";
}

#creator_searchbox {
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-family: "warung_kopi";
}

#name_inputbox {
    height: 60px;
    width: 381px !important;
    font-size: 40px;
    font-family: "warung_kopi";
}

#series_inputbox {
    height: 50px;
    width: 278px !important;
    font-size: 30px;
    font-family: "warung_kopi";
}

#theme_inputbox {
    height: 50px;
    width: 278px !important;
    font-size: 30px;
    font-family: "warung_kopi";
}

#socials_inputbox {
    height: 50px;
    width: 278px !important;
    font-size: 30px;
    font-family: "warung_kopi";
}

#date_inputbox {
    height: 50px;
    width: 278px !important;
    font-size: 30px;
    font-family: "warung_kopi";
}

#search_button {
    height: 60px; 
    width: 200px;
    font-size: 40px;
    font-family: "warung_kopi";
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

#search_button:hover {
    height: 60px; 
    width: 200px;
    font-size: 40px;
    font-family: "warung_kopi";
    color: white;
    background-color: rgb(2, 125, 201);
    border-radius: 20px;
    border: none;
}

#submit_button {
    height: 60px; 
    width: 150px;
    font-size: 40px;
    font-family: "warung_kopi";
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

#submit_button:hover {
    height: 60px; 
    width: 150px;
    font-size: 40px;
    font-family: "warung_kopi";
    color: white;
    background-color: rgb(2, 125, 201);
    border-radius: 20px;
    border: none;
}

#phase_dropdown {
    font-size: 30px;
    font-family: "warung_kopi";
}

#username_input {
    height: 60px;
    width: 600px;
    font-size: 40px;
    font-family: "warung_kopi";
}

#delete_button {
    height: 60px; 
    font-size: 30px;
    font-family: "warung_kopi";
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
}

#delete_button:hover {
    height: 60px; 
    font-size: 30px;
    font-family: "warung_kopi";
    color: white;
    background-color: #d8342a;
    border-radius: 20px;
    border: none;
}

.tabulator .tabulator-header .tabulator-col {
    background-color: #4ad4de;
    border-color: 1px solid #2f99bf;
    border-right: 1px solid #2f99bf;
    color: white;
}

.tabulator-row .tabulator-cell {
    border-color: 1px solid #2f99bf;
    border-right: 1px solid #2f99bf;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover{
    background-color: #2f99bf !important;
    color: white;
}

.tabulator-arrow {
    color: white;
}

.tabulator .tabulator-header {
    border-bottom: 1px solid #2f99bf;;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort=none] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
    border-bottom: 6px solid #ffffff;
}

.tabulator .tabulator-row-odd {
    background: #c5f4f7;
}

.tabulator .tabulator-row-even:hover {
    background: #fce76f;
}

.tabulator .tabulator-row-even {
    background:  #fefebb;
}

.tabulator .tabulator-row-odd:hover {
    background: #8dd6f5;
}

.tabulator {
    width: auto;
    height:auto !important;
    font-family: "warung_kopi";
    font-size: 18px !important;
    border: 1px solid #2f99bf;
}

.box{
    color:"black";
    font-family: 'warung_kopi';
    font-size: 30px;
    display: none;
    width: 364px;
    height: 60px;
}
.phase-input{ 
    font-size: 30px;
    font-family: "warung_kopi";
}

#landing_bg {
    background-image: url("Landing BG.png");
}